<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body class="internal-error">

<div th:replace="fragments/header :: header"></div>

<main>

    <div class="container bg-blur text-center rounded mt-5" style="width: fit-content">
        <div class="card" >
            <div class="text-emoji">😬Internal Server Error 500😬</div>
            <h5 class="text">
                Something's wrong! Go back, please
            </h5>
        </div>
    </div>

</main>
<footer></footer>
</body>
</html>
